# ==============================================================================
# Environment Configuration
# ==============================================================================
ENV=local

# ==============================================================================
# Database Configuration (MariaDB)
# ==============================================================================
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=roled
DB_USERNAME=roled
DB_PASSWORD=your-db-password
DB_ROOT_PASSWORD=your-db-root-password

# ==============================================================================
# Redis Configuration
# ==============================================================================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=your-redis-password
REDIS_PREFIX=roled
REDIS_DB=0

# ==============================================================================
# Roled Auth Service Configuration
# ==============================================================================
AUTH_PORT=8080
BASE_URL=http://localhost:8080
CONSOLE_BASE_URL=http://localhost:4000

WEB_USE_MINIFIED=false

CORS_ALLOWED_DOMAINS=localhost

# Security keys
ENCRYPTION_MASTER_KEY=your-secret-encryption-master-key # Must be 32 bytes long for AES-256
JWT_SIGNING_KEY=your-very-secret-jwt-signing-key        # Must be 32-64 bytes long for HS256

# Email SMTP Configuration
EMAIL_FROM=%s <admin@example.com>
EMAIL_SMTP_HOST=localhost
EMAIL_SMTP_PORT=25
EMAIL_SMTP_USERNAME=your-smtp-username
EMAIL_SMTP_PASSWORD=your-smtp-password

# Observability
NEWRELIC_LICENSE_KEY=your-newrelic-license-key
NEWRELIC_ENABLED=false

# Storage & Uploads
UPLOAD_DRIVER=local
UPLOAD_LOCAL_UPLOAD_PATH=./uploads

# Set these variables only when using S3 upload driver
UPLOAD_S3_ACCESS_KEY=your-s3-access-key
UPLOAD_S3_SECRET_KEY=your-s3-secret-key
UPLOAD_S3_REGION=your-s3-region
UPLOAD_S3_BUCKET=your-s3-bucket-name
UPLOAD_S3_BASE_URL=https://your-s3-bucket.s3.your-s3-region.amazonaws.com
UPLOAD_S3_ENDPOINT=https://your-s3-bucket.s3.your-s3-region.amazonaws.com

# ==============================================================================
# Roled Console (Frontend) Configuration
# ==============================================================================
CONSOLE_PORT=4000
VITE_AUTH_BASE_URL=http://localhost:8080
VITE_DOCS_BASE_URL=https://docs.roled.io
