BASE_URL=http://localhost:8082

ENV=local
PORT=8082

WEB_USE_MINIFIED=false
GTM_CONTAINER_ID=

DB_NAME=roled
DB_USERNAME=roled
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=3306

EMAIL_FROM=%s <admin@example.com>
EMAIL_SMTP_HOST=localhost
EMAIL_SMTP_PORT=25
EMAIL_SMTP_USERNAME=your-smtp-username
EMAIL_SMTP_PASSWORD=your-smtp-password

NEWRELIC_LICENSE_KEY=your-newrelic-license-key
NEWRELIC_ENABLED=false

CORS_ALLOWED_DOMAINS=localhost

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=your-redis-password
REDIS_PREFIX=roled
REDIS_DB=0

ENCRYPTION_MASTER_KEY=your-secret-encryption-master-key

JWT_SIGNING_KEY=your-very-secret-jwt-signing-key

UPLOAD_DRIVER=s3
UPLOAD_S3_ACCESS_KEY=your-s3-access-key
UPLOAD_S3_SECRET_KEY=your-s3-secret-key
UPLOAD_S3_REGION=your-s3-region
UPLOAD_S3_BUCKET=your-s3-bucket-name
UPLOAD_S3_BASE_URL=https://your-s3-bucket.s3.your-s3-region.amazonaws.com 
UPLOAD_S3_ENDPOINT=https://your-s3-bucket.s3.your-s3-region.amazonaws.com
