<div>
    <div
        style="background-color:#ffffff;color:rgba(49,53,59,0.96);font-family:helvetica,-apple-system,sans-serif;font-size:14px;line-height:20px;margin:0 auto;max-width:600px;padding:24px 0;width:100%">
        {{if .ProjectLogoURL}}
        <div align="center" style="break-inside:avoid;margin-bottom:24px;padding:0 16px">
            <img src="{{.ProjectLogoURL}}" style="display:block;width:64px;border-radius: .25rem;">
        </div>
        {{end}}
        <div style="break-inside:avoid;margin-top:10px;margin-bottom:16px;padding:0 16px">
            <div style="margin-bottom:10px">Hello!</div>
            <div style="margin-bottom:20px">
                You have been invited to join the <strong>{{.AccountName}}</strong> account on {{.ProjectName}}.
                Please click the button below to accept the invitation.
            </div>
            <div align="center" style="font-size:20px;line-height:26px;margin-bottom:20px">
                <a href="{{.ActivateMemberURL}}"
                    style="display:inline-block;font-size:14px;font-family:'Helvetica',arial,sans-serif;color:#fff;padding:5px 30px;text-decoration:none;border-radius:5px;border:1px solid #222;background:#222;">Accept
                    Invitation</a>
            </div>
            <div style="margin-bottom: 10px">
                Once accepted, you will be prompted to set your password and can begin managing projects within the account.
            </div>
            <div style="margin-bottom: 10px">
                This invitation link will expire in {{.ExpiresIn}}.
            </div>
            <div style="margin-bottom:10px">
                If you were not expecting this invitation, you can safely ignore this email.
            </div>
        </div>
        <hr style="margin:16px;border:none;border-top:1px solid #e0e0e0" />
        <div style="break-inside:avoid;color:#b0b0b0;margin-top:10px;line-height:16px;padding:0 16px;">
            <div style="margin-bottom:30px">
                © {{.Year}} {{.ProjectName}}
            </div>
            <!-- Roled disclosure -->
            <div style="font-size: 12px;line-height:16px;">
                You are receiving this email because {{.ProjectName}} uses Roled to securely manage user accounts. <a
                    href="https://roled.io" style="color:inherit;text-decoration:none;white-space:nowrap;">
                    <strong>Learn more about Roled.</strong>
                </a>
            </div>
        </div>
    </div>
</div>